<div class="booking-card-sl">
    <div class="booking-card-image-top">
        <%= image_tag booking.dj.picture, class: "booking-card-image w-100", alt: "dj-picture" %>
    </div>
    <div class="booking-card-heading">
        <%= booking.dj.name %>
    </div>
    <div class="booking-card-text">
        Agent: <%= booking.dj.user.first_name %> <%= booking.dj.user.last_name %>
    </div>
    <div class="booking-card-text">
        Total: €<%=(booking.dj.price_per_day * (booking.date_end - booking.date_begin)).to_i %>
    </div>
    <div class="booking-card-text">
        <%= booking.date_begin.strftime('%d %b. %Y') %> - <%= booking.date_end.strftime('%d %b. %Y') %>
    </div>
      <p class="booking-card-status">Pending</p>
</div>
