<div class="container">
  <h1 class="p-3"> My bookings </h1>
    <div class="booking-card-container" data-controller="bookings">
      <% @bookings.each do |booking| %>
        <%= render "card", booking: booking %>
    <% end %>
  </div>
<%# container with the bookings of the DJs I own%>
<div class="container">
  <h1>My DJ's bookings</h1>
  <div class="my-booking-card-container">
    <% @djs.each do |dj| %>
      <div class="booking-card" style="background-image: <%= dj.picture %>">
      <h2 class="d-flex justify-content-center"><%= dj.name %></h2>
      <%# carrousel %>
        <h2 class="d-flex justify-content-center">Pending bookings</h2>
        <div class="booking-card-container">
          <% dj.bookings.where(status: 0).each do |booking| %>
             <%= render "mydjcard", booking: booking %>
          <% end %>
        </div>
        <h2 class="d-flex justify-content-center">Recent bookings</h2>
        <div class="booking-card-container">
          <% dj.bookings.where(status: 1).each do |booking| %>
             <%= render "mydjcard", booking: booking %>
          <% end %>
        </div>
      </div>
    <% end%>
  </div>
</div>
</div>
