<div class="dj-card">
  <%= link_to dj_path(dj), class: "text-decoration-none" do %>
  <div class="card-img-top">
    <%= image_tag dj.picture, class: "dj-card-img w-100", alt: "dj-picture" %>
  </div>
  <div class="dj-card-content">
    <div class="dj-card-heading" ><%= dj.name %></div>
    <div class="dj-card-text" ><%= dj.genre%></div>
    <% end  %>
    <div class="dj-card-price" > Price/night: €<%= dj.price_per_day %></div>
  </div>
</div>
