<div class="dj-card">
  <%= link_to dj_path(dj), class: "text-decoration-none" do %>
  <div class="dj-card-img-top">
    <%= image_tag dj.picture, class: "dj-card-img w-100", alt: "dj-picture" %>
  </div>
  <div class="dj-card-content">
    <div class="dj-card-heading" ><h5 class="font"><%= dj.name %></h5></div>
    <div class="dj-card-price"> <h5 class="font weight-300 font-small"> Price/night: €<%= dj.price_per_day %></h5></div>
    <% end  %>
    <div class="dj-card-text" ><h5 class="font weight-300 font-small"><%= dj.genre%></h5></div>
  </div>
</div>
