<div class="dj-picture">

</div>
<h1><%= @dj.name %></h1>
<h5><%= @dj.location %></h5>
<p><%= @dj.genre %></p>

<h5>price/night: €<%= @dj.price_per_day %></h5>
<p>capacity: <%= @dj.capacity %></p>
<p><%= @dj.description %></p>

<img src="<%= @dj.picture %>" alt="dj-picture">
