<div class="container">
  <div class="row my-3 justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="picture w-50">
          <%= image_tag @dj.picture, class: "card-img-top", alt: "dj-picture" %>
        </div>
        <div class="card-info w-100 mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <h1><%= @dj.name %></h1>
            <h4><i class="fa-solid fa-map-pin"></i> <%= @dj.location %></h4>
          </div>
          <button class="btn btn-dark">
            <i class="fa-solid fa-play"></i>
          </button>
          <p>Genre: <%= @dj.genre %></p>
          <p>Capacity: <%= @dj.capacity %></p>
          <p>Description: <%= @dj.description %></p>
          <h2 class="card-price">Price/Night: €<%= @dj.price_per_day %></h2>
          <%= link_to "Book Now", "#", class: "btn btn-dark" %>
        </div>
      </div>
      <div class="booking-form">
        <%= render "bookingform", booking: @booking %>
      </div>
    </div>
  </div>
</div>
