<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container d-flex justify-content-between pb-2">
    <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo_Full.png", class:"w-50" %>
    <% end %>
    </div>
    <div>
      <ul class="navbar-nav nav-style">
        <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Artists", djs_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookings", bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My DJs", "#", class: "nav-link" %>
            </li>
            <li class="nav-item" id="log-out">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
